.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #F9F9F9;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links ul li:last-child {
    margin-right: 6em;
  }
  
  .nav-links ul li a {
    text-decoration: none;
    color: #303031;
    transition: color 0.3s;
  }
  
  .nav-links ul li a:hover,
  .nav-links ul li a:active {
    color: #71a894;
  }
  