/* Importation des polices Nohemi */
@font-face {
  font-family: 'Nohemi-Medium';
  src: url('../fonts/Nohemi-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} @font-face {
  font-family: 'Nohemi-Bold';
  src: url('../fonts/Nohemi-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} @font-face {
  font-family: 'Nohemi-Semibold';
  src: url('../fonts/Nohemi-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}




body { background-color: #F9F9F9; /* Background de page */ }


